:root {
    color-scheme: light dark;
    padding: 100px;
}

.beautiful {
    border: 10px ridge red;
    background-color: yellow;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.beautiful img {
    width: 100%;
}

.beautiful p {
    color: #000;
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
}

.box {
    background-color: #ffffff;
    height: 150px;
}

.shadowbox {
    width: 15em;
    border: 1px solid #333333;
    box-shadow: 8px 8px 5px #444444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, white, #dddddd 40%, #cccccc);
}

.shadowbox p{
    color: #000000;
}

.square {
    background-color: #ff0000;
    width: 200px;
    height: 200px;
}

.circle {
    background-color: #ff0000;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.peru-flag {
    display: flex;
}

.first-red {
    height: 100px;
    width: 60px;
    background-color: #ff0000;
}

.white {
    height: 100px;
    width: 60px;
    background-color: #ffffff;
}

.second-red {
    height: 100px;
    width: 60px;
    background-color: #ff0000;
}