:root {
    color-scheme: light dark;
    padding: 100px;
}

code {
    background-color: light-dark(#edeef0, #2d3034);
    padding: .125em .25em;
    border-radius: 0.25rem;
}

h1 {
    text-align: center;
}

span.ingredient {
    color: #ff0000;
}