:root {
    color-scheme: light dark;
    padding: 100px;
}

label {
    display: block;
    font:
        1rem "Fira Sans",
        sans-serif;
}

input, label {
    margin: 0.4rem 0 ;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, tr, th {
    border: 1px solid #bcbcbc;
    padding: .5rem .75rem;
}

