:root {
    color-scheme: light dark;
    padding: 100px;
}

code {
    background-color: light-dark(#edeef0, #2d3034);
    padding: .125em .25em;
    border-radius: 0.25rem;
}

label {
    display: block;
    font: 
        1rem "Fira Sans",
        sans-serif;
}

input, label {
    margin: 0.4rem 0;
}

html {
    font-family: sans-serif;
}

form {
    background: #cccccc;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
}

form ol {
    padding-left: 0;
}

form li,
div > p {
    background: #eeeeee;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    list-style-type: none;
    border: 1px solid black;
}

form img {
    height: 64px;
    order: 1;
}

/* Ocultar el input file sin que ocupe espacio */
#image_uploads {
    position: absolute;
    left: -9999px;
}

form p {
    line-height: 32px;
    padding-left: 10px;
    color: #000000;
}

form label,
form button {
    background-color: #7f9ccb;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 0.8rem;
    height: auto;
}

form label:hover,
form button:hover {
    background-color: #2d5ba3;
    color: white;
}

form label:active,
form button:active {
    background-color: #0d3f8f;
    color: #000000;
}
