:root {
    color-scheme: light dark;
    padding: 100px;
}

.box {
    background-color: #ffffff;
    width: 900px;
    height: 500px;
    padding: 30px;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    color: #000000;
}

th,
td {
    padding: 5px;
    border: 1px solid black;
}

.box1 {
    background-color: #ffffff;
    height: 150px;
    width: 200px;
    padding: 30px;
}

.box2 {
    background-color: #ffffff;
    height: 200px;
    width: 500px;
    padding: 30px;
}

.box3 {
    background-color: #ffffff;
    height: 220px;
    width: 150px;
    padding: 30px;
}

.column-background {
  background-color: #97db9a;
}

.column-fixed-width {
  width: 40px;
}

.column-background-border {
  background-color: #dcc48e;
  border: 4px solid #c1437a;
}
