:root {
    color-scheme: light dark;
    padding: 100px;
}

.box {
    background-color: #ffffff;
    width: 250px;;
    padding: 50px;
}

table {
    color: #000000;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;   
    letter-spacing: 1px;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}


th, td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

th {
    background-color: rgb(230 230 230);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250 250 250);
}
