:root {
    color-scheme: light dark;
    padding: 100px;
}

.box {
    background-color: #ffffff;
    width: 450px;
    height: 200px;
    padding: 30px;
}

table {
    color: #000000;
    border: 1px solid #bccbd3;
    border-collapse: collapse;
    border-spacing: 2px;
}

caption {
    color: #005a6a;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 8px;
}

tbody {
    border-color: inherit;
}

td, th {
    padding: 12px 10px;
    border: 1px solid #bccbd3;
}

th {
    background-color: #005a6a;
    color: #ffffff;
    font-weight: 700;
}

td {
    display: table-cell;
}

.text {
    color: #000000;
}