:root {
    color-scheme: light dark;
    padding: 100px;
}

.box {
    background-color: #ffffff;
    height: 250px;
    width: 400px;
    padding: 30px;
}

table {
    color: #000000;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

thead, tfoot {
    background-color: #2c5e77;
    color: #ffffff;
}

tbody {
    background-color: #e4f0f5;
}

caption {
    caption-side: bottom;
    padding: 10px;
}

th, td { 
    border: 1px solid rgb(160 160 160);
    padding: 10px;
}

td {
    text-align: center;
}

thead {
  border-bottom: 2px solid rgb(160 160 160);
  text-align: center;
  background-color: #2c5e77;
  color: white;
}

tbody {
  background-color: #e4f0f5;
}