:root {
  color-scheme: light dark;
  padding: 100px;
}

.box {
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    padding: 30px;
}

th, td {
    border: 1px solid rgb(160 160 160);
}