:root {
    color-scheme: light dark;
    padding: 100px;
}

.box {
    background-color: #ffffff;
    width: 400px;
    height: 400px;
    padding: 20px;
}

table {
    color: #000000;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    letter-spacing: 1px;
}

thead, tfoot {
    background-color: #2c5e77;
    color: #ffffff;
}

tbody {
    background-color: #e4f0f5;
}

caption {
    caption-side: bottom;
    padding: 10px;
}

th, td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td {
    text-align: center;
}

tbody > tr > td:last-of-type {
    width: 60px;
    text-align: center;
}

tbody > tr > th {
    border-top: 2px solid rgb(160 160 160);
    border-bottom: 1px solid rgb(140 140 140);
    background-color: #e4f0f5;
    font-weight: normal;
}

