:root {
    color-scheme: light dark;
    padding: 100px;
}

.box {
    height: 90px;
    display: flex;
    padding: 10px;
    background-color: #ffffff;
}

#exciting {
    color: #000000;
    background: linear-gradient(to bottom, #ffe8d4, #f69d3c);
    border: 1px solid dimgrey;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px  #000000;    
}

#exciting::before {
    content: "ℹ️";
    margin-right: 5px;
}