:root {
    color-scheme: light dark;
    padding: 100px;
}

article::before {
    content: attr(data-parent);
}

article[data-columns="3"] {
    width: 400px;
}

article[data-columns="4"] {
    width: 600px;
}

.callout, .callouts {
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
}

.callout--note {
    border-color: rgb(15 15 235);
    background-color: rgb(15 15 235 / 0.2);
}

.callout--warning {
    border-color: rgb(235 15 15);
    background-color: rgb(235 15 15/ 0.2);
}

/* Default style*/
.callouts:not([data-variant]) {
    border-color: rgb(15 15 15);
    background-color: rgb(15 15 15 / 0.2);
}

.callouts[data-variant="note"] {
    border-color: rgb(15 15 235);
    background-color: rgb(15 15 235/ 0.2);
}

.callouts[data-variant="warning"] {
    border-color: rgb(235 15 15);
    background-color: rgb(235 15 15 / 0.2);
}